*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color: white;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.ora{
    color: orange;
}

#first,#second,#third{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.header{
    width: 100vw;
    height: 10vh;
    background-color:red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 1em;
    margin-top: 1.5em;
    font-size: 3em;
    font-weight:bold;
}
.container_links{
    margin-right: 5em;
    background-color: green;
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.rest{
    width: 100vw;
    height: 90vh;
    background-color: cadetblue;
    display: flex;

}

.rest .image{
    width: 55vw;
    height: 90vh;
    background-image: url(./images/char.png);
    background-size: cover;
}

.rest .title{
    width: 45vw;
    height: 90vh;
    background-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rest .title div{
    font-size: 4em;
    font-weight: bold;
}

.rest .title div span{
    color: orange;
}
.rest .title button{
    
}