*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color: white;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1em;
}

.ora{
    color:orange;
}

#second,#third,#forth{
    height: 100vh;
    width: 100vw;
}

body #first{
    height: 100vh;
    width: 100vw;
}

body #second{
    display: flex;
    flex-direction: column;
    background-color: red;
}

body #third{
}

body #forth{
}

.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

/* first webpage*/
.logo{
    margin-left: 1em;
    margin-top: 2em;
    font-size: 3em;
    font-weight:bold;
    background-color: white;
    padding: 0.30em;
}

.container_links{
    margin-right: 5em;
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.rest{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.rest .image{
    width: 55vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.rest .image img{
    width: 55vw;
    height:90vh;
    object-fit: contain;
}

.rest .title{
    width: 45vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
    margin-top: 5em;
}

.rest .title div{
    font-size: 3em;
    font-weight: bold;
}

.rest .title div span{
    color: orange;
}
.rest .title button{
    margin-top: 2em;
    background-color: orange;
    color: white;
    border: none;
    width: 10em;
    height: 4em;
    border-radius: 220px;
    font-size: 1em;
    font-weight: bold;
}


/* second webpage*/